/*:root{
    --bg1: #ff0000;
    --bg2: #ffea00;
    --body: #ff7b00;
    --brand: #f1e2af;
    --white: #9dff00;
    --p:#3300ec;
    
}*/

#banner{
    min-height: 100vh;
    background: linear-gradient(to left, hsla(0, 38%, 78%, 0.11), rgba(230, 241, 166, 0.781)), url(https://colourrepublic.com/files/seo/16220367472229.jpg);
background-size: cover;
background-attachment: fixed;
}
.btn{
    padding: 15px, 30px;
 transition: all 0.4s ease;
 font-weight: 800;
 border-radius: 0;   
}
.btn-brand {
    background-color: rgb(164, 67, 255);
}
.btn-brand-hover{
    background-color: blueviolet;
    color: beige;
    border-color: black;
}
section{
padding: 100px;
padding-bottom: 100px;
}

*{
    font-family: 'Courier New', Courier, monospace;
}
.icon-img-box{
    width: 40%;
}
.card{
    transition: background-color 0.3s, 0.3s;
}
.card:hover{
    background-color: rgb(255, 196, 0);
}
.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn{
    color: #ffffff;
}
.btn-outlined-brand{
    color: rgb(77, 78, 0);
    background-color: transparent;
    border-color: #ff0000;
}
.btn-outlined-brand:hover{
    background-color: blueviolet;
}

#cta{
    min-height: 70vh;
    background: linear-gradient(to left, hsla(0, 38%, 78%, 0.11), rgba(99, 99, 99, 0.781)), url(https://t3.ftcdn.net/jpg/01/22/79/44/360_F_122794461_ZuL3pR3khgRr4PSjCk2ID8Hh0ksDhgb7.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.testimonials {
    background-color: rgb(236, 204, 138);
    padding: 36px;
}
.testimonials img{
    width: 65px;
    border-radius: 100px;
    height: 65px;
} 

#reviews a {
   color:rgb(255, 102, 0);
}