/*:root{
    --bg1: #ff0000;
    --bg2: #ffea00;
    --body: #ff7b00;
    --brand: #f1e2af;
    --white: #9dff00;
    --p:#3300ec;
    
}*/

#banner{
    min-height: 100vh;
    background: linear-gradient(to left, hsla(0, 38%, 78%, 0.11), rgba(230, 241, 166, 0.781)), url(https://colourrepublic.com/files/seo/16220367472229.jpg);
background-size: cover;
background-attachment: fixed;
}
.btn{
    padding: 15px, 30px;
 transition: all 0.4s ease;
 font-weight: 800;
 border-radius: 0;   
}
.btn-brand {
    background-color: rgb(164, 67, 255);
}
.btn-brand-hover{
    background-color: blueviolet;
    color: beige;
    border-color: black;
}
section{
padding: 100px;
padding-bottom: 100px;
}

*{
    font-family: 'Courier New', Courier, monospace;
}
.icon-img-box{
    width: 40%;
}
.card{
    transition: background-color 0.3s, 0.3s;
}
.card:hover{
    background-color: rgb(255, 196, 0);
}
.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn{
    color: #c20000;
}
.btn-outlined-brand{
    color: rgb(77, 78, 0);
    background-color: transparent;
    border-color: #00f529;
}
.btn-brand:hover{
    background-color: blueviolet;
}

#cta{
    min-height: 70vh;
    background: linear-gradient(to left, hsla(0, 38%, 78%, 0.11), rgba(99, 99, 99, 0.781)), url(https://t3.ftcdn.net/jpg/01/22/79/44/360_F_122794461_ZuL3pR3khgRr4PSjCk2ID8Hh0ksDhgb7.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.testimonials {
    background-color: rgb(236, 204, 138);
    padding: 36px;
}
.testimonials img{
    width: 65px;
    border-radius: 100px;
    height: 65px;
} 

#reviews a {
   color:rgb(255, 102, 0);
}
/* second */
#faq{
    background-color: #badcf0;
}
.faq-section {
    max-width: 800px;
    margin: auto;
  }

  .faq-item {
    margin-bottom: 20px; /* Add margin bottom for spacing */
    border-radius: 0 !important;
  }

  .faq-question {
    background-color: #d0e3f7;
    border: none;
    border-bottom: 1px solid #65b2ff;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
  }

  .faq-answer {
    border-left: 3px solid var(--brand);
    padding: 10px 15px;
    margin-left: 0;
    background-color: #007cf8;
  }

  .faq-answer p {
    margin-bottom: 0;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color: var(#F2B03B );
  }

  /* Hover effect for FAQ questions */
  .faq-question:hover {
    background-color: var(#aaebff ); /* Change background color on hover */
    color: var(#5c3a00 ); /* Change text color on hover */
  }

  /* Adjust accordion icon */
  .accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: ""; /* Plus icon */
    float: right;
    font-weight: 900;
    margin-left: auto;
  }

  .accordion-button[aria-expanded="true"]::after {
    content: ""; /* Minus icon */
    
  }

  #footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1a1a1a !important;
}

#footer ul.list-unstyled li a {
    color: #ffffff;
}

#footer ul.list-unstyled li:hover a {
    color:  #db6363;
}

#reviews h2, #services h2 {
    color: #532c2c;
}

.btn-outline-light {
    border-color: #F2B03B !important;
    color: #F2B03B;
}

#footer h5 {
    color: #ff0000;
    margin-bottom: 15px;
}


@media only screen and (max-width: 767px) {
    h1 , h2 {
        font-size: 45px;
        text-align: center;
    }
    #banner p {
        text-align: center;

    }
    .btn {
        font-size: 14px !important;
        padding: 18px 0px;
        width: 180px;
    }
    section {
        padding: 60px 10px;
    }

    #about h3, #about p {
        text-align: center;
    }

   .card {
    margin-bottom: 30px;
   }

   #cta h2 , #cta2 h2{
    font-size: 35px;
   }

   #about:after {
    display: none;
   }

   #footer {
    padding: 50px 20px;
   }

   #about img {
    height: 350px;
    width: 100%;
    background-size: cover;
   }

    
}